/* AutorizadosHeader.css (solo header) */

.AutorizadosCabecera {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

/* Columna 1: avatar */
.AutorizadosCabecera > :nth-child(1) {
  display: grid;
  place-items: center;
  width: 20%;
  height: 100%;
}

/* Columna 2: textos */
.AutorizadosCabecera > :nth-child(2) {
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  gap: 0px;
}

.titulo,
.numEncuestas {
  gap: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  line-height: 0.5rem;
}

/* Columna 3: home */
.AutorizadosCabecera > :nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: 100%;
  overflow: hidden;
  padding: 20px 20px;
}

.logohome,
.logoavatar {
  width: 70px;
  object-fit: contain;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logohome:hover {
  transform: scale(1.05);
}

.logoavatar {
  width: 60%;
  height: 60%;
}

.logoavatar:hover {
  transform: scale(1.05);
  filter: drop-shadow(6px 7px 2px #218cfe86);
}

.negrita {
  color: #218cfe;
}

/* TABLETS */
@media (max-width: 1024px) {
  .AutorizadosCabecera {
    border: 2px solid rgba(189, 190, 194, 0.573);
    border-radius: 0.5rem;
    flex-direction: row;
    height: auto;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  .AutorizadosCabecera > :nth-child(1) {
    width: 20%;
    height: 100%;
  }

  .logoavatar {
    width: 90%;
  }

  .Autorizados-titulo {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .titulo,
  .numEncuestas {
    gap: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1.15rem;
    line-height: 0.5rem;
  }
}

/* TABLETS */
@media (max-width: 1024px) {
  .AutorizadosCabecera {
    border: 2px solid rgba(189, 190, 194, 0.573);
    border-radius: 0.5rem;
    flex-direction: row;
    height: auto;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  .AutorizadosCabecera > :nth-child(1) {
    width: 20%;
    height: 100%;
  }

  .logoavatar {
    width: 90%;
  }

  .Autorizados-titulo {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .titulo,
  .numEncuestas {
    gap: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1.15rem;
    line-height: 0.5rem;
  }
}
