/* Agrega esto al inicio de index.css */
* {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  font-family: "Poppins";
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
